:root { --font-family:'Rubik', sans-serif;
}
body{background-color:#3CDBC0;
text-align: center;}

.header { position:fixed;
top: 0px;
width: 100vw;
height: 10vh;
display: flex;
flex-direction:column;
/*flex-wrap: wrap;*/
justify-content: center;
background-color: white;
}

.logo {width: 150px;
margin-top: 10px;
margin-bottom: 10px;
}

.nav {display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;}

.menu {color: #4a4a4a;
    font-family: var(--font-family);
    margin: 15px;
    font-size: 16px;}


.main { width: 100vw;
    height: 100vh;
position: relative;
/*top: 50vh;*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
font-family: var(--font-family);
color: #FFFFFF;
font-size: 30px;
 }

 @media screen and (min-width: 768px) {
    .header { position:fixed;
        top: 0px;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction:row;
        /*flex-wrap: wrap;*/
        justify-content:space-between;
        background-color: white;
        }
        .main { width: 100vw;
            height: 100vh;
        position: relative;
        /*top: 50vh;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        font-family: var(--font-family);
        color: #FFFFFF;
        font-size: 40px;}

         .logo {width: 150px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 30px;
            }